RestTests/Service References/ReservasWS/ReservasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservasService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4920/ReservasService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4920/ReservasService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4920/ReservasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservasService_registarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:registarReserva" />
  </wsdl:message>
  <wsdl:message name="IReservasService_registarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:registarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IReservasService_cancelarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelarReserva" />
  </wsdl:message>
  <wsdl:message name="IReservasService_cancelarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelarReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservasService">
    <wsdl:operation name="registarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservasService/registarReserva" message="tns:IReservasService_registarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservasService/registarReservaResponse" message="tns:IReservasService_registarReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservasService/cancelarReserva" message="tns:IReservasService_cancelarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservasService/cancelarReservaResponse" message="tns:IReservasService_cancelarReserva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservasService" type="tns:IReservasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registarReserva">
      <soap:operation soapAction="http://tempuri.org/IReservasService/registarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelarReserva">
      <soap:operation soapAction="http://tempuri.org/IReservasService/cancelarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservasService">
    <wsdl:port name="BasicHttpBinding_IReservasService" binding="tns:BasicHttpBinding_IReservasService">
      <soap:address location="http://localhost:4920/ReservasService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>