ProyectoIDCode/Service References/WSNotas/NotasService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="flag" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
</xs:schema>