ProyectoIDCode/Service References/WSReservas/ReservasService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4920/ReservasService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" />
  <xs:element name="registarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="registarReservaResult" nillable="true" type="q1:ReservaMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="cancelarReservaResult" nillable="true" type="q2:ReservaMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>