ProyectoIDCode/Service References/WSMatricula/ReservaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4920/ReservaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="cd_alumno" type="xs:int" />
      <xs:element minOccurs="0" name="cd_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cd_pago" type="xs:int" />
      <xs:element minOccurs="0" name="ds_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ds_identificador_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ds_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="Padre">
    <xs:sequence>
      <xs:element minOccurs="0" name="cd_padre" type="xs:int" />
      <xs:element minOccurs="0" name="ds_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ds_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Padre" nillable="true" type="tns:Padre" />
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="flag" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="ReservaMatricula">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="FechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Monto" type="xs:double" />
      <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fg_estado" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaMatricula" nillable="true" type="tns:ReservaMatricula" />
  <xs:complexType name="ArrayOfNota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nota" nillable="true" type="tns:Nota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNota" nillable="true" type="tns:ArrayOfNota" />
  <xs:complexType name="Nota">
    <xs:sequence>
      <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cd_nota" type="xs:int" />
      <xs:element minOccurs="0" name="ds_curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qt_nota" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nota" nillable="true" type="tns:Nota" />
  <xs:complexType name="ArrayOfObservacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Observacion" nillable="true" type="tns:Observacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservacion" nillable="true" type="tns:ArrayOfObservacion" />
  <xs:complexType name="Observacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cd_observacion" type="xs:int" />
      <xs:element minOccurs="0" name="ds_comentario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ds_profesor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Observacion" nillable="true" type="tns:Observacion" />
</xs:schema>