ProyectoIDCode/Service References/WSMatricula/ReservaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4920/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" />
  <xs:element name="ConsultarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ConsultarAlumnoResult" nillable="true" type="q1:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPadre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_padre" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPadreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ConsultarPadreResult" nillable="true" type="q2:Padre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_padre" type="xs:int" />
        <xs:element minOccurs="0" name="ds_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cd_grado" type="xs:int" />
        <xs:element minOccurs="0" name="ds_apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="registarAlumnoResult" nillable="true" type="q3:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_padre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ListarAlumnoResult" nillable="true" type="q4:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNotaAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNotaAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ListarNotaAlumnoResult" nillable="true" type="q5:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="registarReservaResult" nillable="true" type="q6:ReservaMatricula" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSituacionAcademica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSituacionAcademicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="VerificarSituacionAcademicaResult" nillable="true" type="q7:ArrayOfNota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLibrosPrestados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarLibrosPrestadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ListarLibrosPrestadosResult" nillable="true" type="q8:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ListarPagosResult" nillable="true" type="q9:Respuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarObservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ListarObservacionResult" nillable="true" type="q10:ArrayOfObservacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>