ProyectoIDCode/Service References/WSAlumnos/AlumnosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="cd_alumno" type="xs:int" />
      <xs:element minOccurs="0" name="cd_padre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cd_pago" type="xs:int" />
      <xs:element minOccurs="0" name="ds_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ds_identificador_alumno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ds_nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alumno" nillable="true" type="tns:Alumno" />
  <xs:complexType name="ArrayOfAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alumno" nillable="true" type="tns:Alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlumno" nillable="true" type="tns:ArrayOfAlumno" />
</xs:schema>