ProyectoIDCode/Service References/WSAlumnos/AlumnosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlumnosService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4920/AlumnosService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4920/AlumnosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4920/AlumnosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlumnosService_ConsultarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_ConsultarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_registarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:registarAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_registarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:registarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_ListarAlumno_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlumno" />
  </wsdl:message>
  <wsdl:message name="IAlumnosService_ListarAlumno_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlumnosService">
    <wsdl:operation name="ConsultarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/ConsultarAlumno" message="tns:IAlumnosService_ConsultarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/ConsultarAlumnoResponse" message="tns:IAlumnosService_ConsultarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/registarAlumno" message="tns:IAlumnosService_registarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/registarAlumnoResponse" message="tns:IAlumnosService_registarAlumno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarAlumno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlumnosService/ListarAlumno" message="tns:IAlumnosService_ListarAlumno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlumnosService/ListarAlumnoResponse" message="tns:IAlumnosService_ListarAlumno_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlumnosService" type="tns:IAlumnosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/ConsultarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registarAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/registarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarAlumno">
      <soap:operation soapAction="http://tempuri.org/IAlumnosService/ListarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlumnosService">
    <wsdl:port name="BasicHttpBinding_IAlumnosService" binding="tns:BasicHttpBinding_IAlumnosService">
      <soap:address location="http://localhost:4920/AlumnosService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>