ProyectoIDCode/Service References/WSAlumnos/AlumnosService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4920/AlumnosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Dominio" />
  <xs:element name="ConsultarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_alumno" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ConsultarAlumnoResult" nillable="true" type="q1:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cd_padre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ds_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cd_grado" type="xs:int" />
        <xs:element minOccurs="0" name="ds_apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="registarAlumnoResult" nillable="true" type="q2:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_padre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlumnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Dominio" minOccurs="0" name="ListarAlumnoResult" nillable="true" type="q3:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>